/* header */
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__inner-left {
    width: 150px;
    margin-left: 20px;
}
.header__inner-left img {
    width: 100%;
}
.header__inner-right{
    list-style: none;
    display: flex;
}

.header__inner-right li{
    margin-right: 20px;
}
.header__inner-right a{
    text-decoration: none;
}

/* firstview */
.firtstview{
    position: relative;
}
.firstview__img{
    margin: 0 0 0 auto;
    width: 70%;
}
.firstview__img img{
    width: 100%;
}
.msg-en{
    position: absolute;
    top: 50px;
    left: 100px;
    font-family: "Annie Use Your Telescope", cursive;
    color: #b38fff;
    font-size: 50px;
}
.msg-en span{
    color: #06a1b3;
}
.msg-ja{
    position: absolute;
    top: 230px;
    left: 100px;
    color: #b38fff;
    font-weight: bold;
}
.msg-ja span{
    color: #06a1b3;
}
.company-info {
    position: absolute;
    top: 270px;
    left: 100px;
}

/* news */
.news{
    position: relative;
    width: 100%;
    height: 500px;
}
.news-en {
    position: absolute;
    top: 20px;
    left: 20%;
    font-family: "Annie Use Your Telescope", cursive;
    color: #c7acfe;
}
.news-ja {
    position: absolute;
    top: 40px;
    left: 20%;
    width: 60%;

    padding-bottom: 20px;
}
.news__inner{
    position: absolute;
    top: 120px;
    left: 20%;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 3px #ccc;
    border-bottom: solid 3px #ccc;
}
.item-news{
    border-bottom: solid 1px #ccc;
    padding: 5px 0;
    display: flex;
    align-items: center;
}
.item-news-strong{
    background-color: #b38fff;
    color: white;
    padding: 2px 10px 1px 10px;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
/* about */
.about {
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #f5f5f5
}
.about-en {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "Annie Use Your Telescope", cursive;
    color: #c7acfe;
}
.about-ttl {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about__concept{
    width: 30%;
    position: absolute;
    top: 80px;
    left: 15%;
}
.about__img{
    width: 30%;
    position: absolute;
    top: 80px;
    right: 15%;
}
.about__img img{
    width: 100%;
}

/* service */
.service {
    position: relative;
    width: 100%;
    height: 900px;
}
.service-en {
    position: absolute;
    top: 50px;
    left: 10%;
    font-family: "Annie Use Your Telescope", cursive;
    color: #c7acfe;
}
.service-ja {
    position: absolute;
    top: 70px;
    left: 10%;
}
.service__inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    top: 130px;
    left: 10%;
    width: 80%;
    color: white;
}

.service1__img{
    width: 100%;
    text-align: center;
}
.service1__img img{
    width: 40%;
}
.service2__img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service2__img img {
    height: 80%   
}
.service3__img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service3__img img {
    height: 80%;
}
.service1{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #b365cc;
}
.service2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #b387c4;
    display: flex;
}
.service3 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #b29db9;
    display: flex;
}
.service1__title{
    text-align: center;
}
.service1__text{
    padding: 20px;
}
.service2__text,
.service3__text{
    padding: 10px;
}
/* Blog */
.blog {
    position: relative;
    width: 100%;
    height: 650px;
    background-color: #f5f5f5
}
.blog__inner{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 100px;
    left: 10%;
    gap: 10px;
}
.blog-en {
    position: absolute;
    top: 20px;
    left: 10%;
    font-family: "Annie Use Your Telescope", cursive;
    color: #c7acfe;
}

.blog-ja {
    position: absolute;
    top: 40px;
    left: 10%;
}
.card{
    border-radius: 10px;
    border: 1px solid #e9eaea;
    background-color: white;
}
.card-top{
    position: absolute;
    top: 0;
    margin: 0;
    padding: 5px;
    background-color: #b38fff;
    color: white;
    border-radius: 10px 0 0 0;
}
.card__img img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.card__content{
    padding: 5px 10px;
}
.card__text{
    font-size: 20px;
}
.card__footer{
    display: flex;
}

.card__tag{
    margin-left: 40px;
}
.blog__btn{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px #b491fe;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 30px;
    background-color: white;
}

/* Company */
.company {
    position: relative;
    width: 100%;
    height: 600px;
}
.company-en {
    position: absolute;
    top: 20px;
    left: 20%;
    font-family: "Annie Use Your Telescope", cursive;
    color: #c7acfe;
}

.company-ja {
    position: absolute;
    top: 40px;
    left: 20%;
}
.tbl__company{
    position: absolute;
    top: 100px;
    left: 20%;
    width: 60%;
    border-collapse: collapse;
}
.tbl__company th{
    text-align: left;
    background-color: #f5f5f5;
}
.tbl__company th,.tbl__company td{
    border: 1px solid #ccc;
    padding: 20px;
}
/* Info */
.info{
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
}

.info__img1 {
    position: relative;
    width: 50%;
    background-image: url(../img/recruit.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.info-1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}
.info__img2{
    position: relative;
    width: 50%;
    background-image: url(../img/interview.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.info-2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}


/* footer */
.footer {
    position: relative;
    width: 100%;
    height: 400px;
    text-align: center;
}
.footer__copy-right{
    display: block;
    padding: 10px;
    margin-top: 30px;
    background-color: #f5f5f5
}
.footer__inquiry-btn{
    position: relative;
    padding: 20px;
    width: 200px;
    background:linear-gradient(90deg,#fd8eff,#b666cf);
    box-shadow: 0 10px 0 #8443a7;
    border-radius: 40px;
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px auto;
}
.footer__inquiry-btn::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    background: url(../img/mailicon.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    transform: translate(0, -50%);
}

.footer__border{
    font-size: 50px;
    color: #ba97fd;
}

.footer__inquiry-msg{
    color: #727272;
}